@import '/src/styles/vars.scss';

.filter__dropDawn {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  width: 630px;

  margin-top: 4px;
  z-index: 999;
  overflow: hidden;

  background: #312b45;
  border-radius: 4px;
  box-shadow: 0 16px 32px rgba(7,5,14,.4);
}

.dropDawn__content {
  padding: 16px 30px;
}

.list__container {
  display: block; 
}

.dropDawn__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;

  margin-top: 16px;
  padding-top: 4px;
  border-top: 1px solid rgba($primary,.32);
}

.dropDawnItem {
  display: list-item;
  margin-top: 12px;
}

.dropDawn_label {
  position: relative;
  display: block;
}

.dropDawn_input {
  display: none;
}

.input_text {
  color: rgba(217,215,224,.8);
  transition: color .3s;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

.input_checkbox {
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;
  height: 16px;
  color: $primary;
}



.check__icon {
  opacity: 0;
}

.hovered_icon {
  opacity: 0.5;
}
