.sliderItem {
  min-width: 153px;
  max-width: 153px;

  transition: 0.6s;
  word-wrap: break-word;

  &:hover {
    .image {
      transform: scale(1.05) translateY(-10px);

      position: relative;

      .imageOverlay {
        opacity: 1;
        visibility: visible;
      }
    }

    .name {
      color: white;
    }
  }

  .image {
    height: 244px;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: transform 0.4s;

    &>img {
      height: 100%;
      width: 100%;
      border-radius: 8px;
      z-index: 1;
    }

    .imageOverlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 8px;
      opacity: 0;
      visibility: hidden;
      padding: 15px;

      transition-property: opacity, visibility;
      transition-duration: .3s;


      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .iconsBlock {
        position: absolute;
        top: 15px;
        right: 15px;
       
        .icon {
          width: 20px;
          height: 20px;
          z-index: 3;
          &:not(:last-of-type) {
            margin-bottom: 10px;
          }  
        }
      }

      .infoBlock {
        display: inline-block;
        color: #a5a1b2;

        .score {
          font-size: 24px;
          font-weight: 700;
          color: white;
        }
        .property {
          margin-top: 3px;
          font-size: 12px;
          .progressBar {
            margin-top: 5px;
            display: block;
          height: 4px;
          border-radius: 2px;
          width: 75%;
          background-color: rgb(57, 51, 82);

          .currentProgress {
            width: 43%;
            height: 4px;
            background-color: red;
          }
          }
        }

        .filmTags {
          margin-top: 8px;
          font-size: 12.8px;
          color: #c6c4ca;

            p:first-of-type {
              margin-bottom: 5px;
            }
          
        }
      }
    }
  }

  .name {
    font-weight: 700;
    color: #d9d7e0;
  }

  span {
    display: block;
    color: #a5a1b2;
    font-size: 12px;
  }
}