@import '/src/styles/vars.scss';

.footerWidget {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}

.footerWidget__iconBlock {
  width: 104px;
  height: 104px;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #A869F0, #834CC2);
  box-shadow: 0 0 104px #A869F0;
  border-radius: 20px;
}

.footerWidget__text {
  margin-top: 24px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $secondary;
  text-align: center;
}