.authPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  header {
    text-align: center;
    position: relative;
    
    p {
      padding: 15px 0;
      display: inline-block;
      font-size: 14.3px;
      font-weight: 700;
    }

    a > img {
      position: absolute;
      top: 35%;
      right: 20px;
    }
    .progressBar {
      height: 1px;
      background-color: rgb(57, 51, 82);
  
      .currentProgress {
        width: 50%;
        height:1px;
        background-color: red;
      }
    }
  }
  
  main {
    flex: 1 auto;
    background-color: rgba(4, 5, 10, 0.5);

    .chat {
      width: 600px;
      margin: 0 auto;
      height: 500px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      .authForm {
        margin: 0 auto;
        margin-top: 24px;

        .authIcons {
          display: flex;
          gap: 15px;
          align-items: center;
          justify-content: flex-start;
          margin-top: 13px;

          img {
            cursor: pointer;
          }
        }

        .inputBlock {
          position: relative;
          &:nth-of-type(2) {
            margin-top: 10px;
          }
          input {
            display: block;
            padding: 11px 11px 11px 36px;
            width: 280px;
            border-radius: 8px;
            background-color: rgba(255, 255, 255, 0.8);
            color: black;
  
            &::placeholder {
              font-weight: bold;
              color:rgba(4, 5, 10, 0.3)
            }
          }

          svg {
            width: 25px;
            height: 20px;
            position: absolute;
            top: 30%;
            left: 7px;
            

          }
        }

        button {
          background-color: #ea003d;
          padding: 10px 15px;
          width: 280px;
          border-radius: 8px;
          margin-top: 15px;
          font-weight: bold;

          &:disabled {
            background-color: rgba(234, 0, 61, 0.4);
            color: rgba(255, 255, 255, 0.4);
            cursor: default;
          }
        }

        .rules {
          margin-top: 24px;
          font-size: 12.2px;
          color: #a5a1b2;
          letter-spacing: 0.2px;

          span {
            color: #fff;
            box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f;
            transition: all 0.2s;
            cursor: pointer;


            &:hover {
              background-color: #7e798f;
            }
          }
        }
      }
    }
  }

}