.category {
  padding: 24px 0;

  & > a {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;

    @media (max-width: 600px) {
      font-size: 20px;
    }

    
    p {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      @media (max-width: 500px) {
        margin-bottom: 0;
      }
      
      @media (max-width: 600px) {
        justify-content: space-between;
      }
    }

    img {
      margin-left: 5px;
    }
  }
}



.sliderTrack {
  padding: 10px 5px;

  @media (max-width: 500px) {
    padding: 5px 0;

  }
    .seeMore {
      max-width: 88%;
      text-align: center;
      word-wrap: break-word;
      position: relative;

      border-radius: 8px;
  
      background-color: #1f1b2e;

      color: rgba(255,255,255, .5);
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;


      &::before {
        content: "";
        display: block;
        height: 0;
        padding-bottom: 155.48837209%;
        color : #2c283b
      }

      p {
        position: absolute;
        top:50%;
        right: 0;
        left: 0;
      }

      &:hover {
        transform: scale(1.04);
      }
    }
}
