@import '../../../../../styles/vars.scss';

.item {
  display: flex;
  align-items: center;
  // gap: 50px;
  justify-content: space-between;
}

.itemTitle {
  font-weight: 500;
  font-size: 16px;
  // width: 800px;

  @include mobile {
    font-size: 12px;
    max-width: 160px;
  }
}

.actionBlock {
  display: flex;
  gap: 30px;

  @include laptop {
    gap: 10px;
  }

  @include mobile {
    gap: 5px;
  }
}

.actionBtn {
  font-weight: 500;
  font-size: 12px;
  justify-self: flex-end;
  min-width: 101px;

  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 40px;
  padding: 12px 12px;

  border: solid 1px $btn_bg;
  background-color: $btn_bg;
  border-radius: 8px;

  cursor: pointer;
  text-decoration: none;
  color: $primary;

  transition-property: border-color, background-color;
  transition-duration: .4s;

  &:not(:last-child) {
    margin-right: 12px;
  }

  &.square {
    width: 40px;
    padding: 0;
  }

  &:hover {
    background-color: $btn_hover;
    border-color: $btn_hover;
  }

  @include mobile {
    font-size: 10px;
  }
}

.minBtn {
  min-width: 40px;
}

.visibleBtn {
  display: none;

  @include mobile {
    display: block;
  }
}

.invisibleBtn {
  display: block;

  @include mobile {
    display: none;
  }
}