@import '/src/styles/vars.scss';

.dropdown {
    width: 100%;
    position: absolute;
    left: 0;
    top: $headerHeight;
    
    display: flex;
    
    background-color: #1f1b2e;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    opacity: 0;
    visibility: hidden;
    z-index: -1;
    
    transition-property: opacity, min-height;
    transition-duration: .3s;

    
    &::before {
        content: "";
        background-color: rgba(255, 255, 255, 0.16);
        height: 1px;
        position: absolute;
        right: 0;
        left: 0;
        top: 5px;
    }
    &.dropdownOpen {
        opacity: 1;
        visibility: visible;
        z-index: 1;
        
    }

    .dropdownBody {
        min-width: 100%;
        padding: 32px;
    }
}