// colors
$main_bg: #100e19;
$btn_bg: #1f1b2e;
$btn_hover: #2e2844;
$primary: #fff;
$secondary: #a5a1b2;
$description: #d9d7e0;
$breadCrumbs: #7e798f;

$link_gradient: linear-gradient(-45deg,#c447ff,#ea003d);

$headerHeight: 72px;