@import '/src/styles/vars.scss';

.filters__section {
  padding: 0 12px;
}

.filters__container {
  background-color: $btn_bg;
  padding: 16px;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px
}
