@import '/src/styles/vars.scss';

.backLink__section_inner {
  display: block;
}

.controlButton__content {
  display: flex;
  align-items: center;
  width: 100px;
  transition: .1s;
  cursor: pointer;

  &:hover {
    .back__icon {
      transform: scale(1.2);
    }
  }
}

.back__icon {
  width: 22px;
  height: 22px;
  transition: .2s;
}

.controlButton__caption {
  margin-left: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}
