@import '../../../../styles/vars.scss';

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  transition: all 0.5s;
  pointer-events: none;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  padding: 20px;
  border-radius: 15px;
  background-color: $lightGray;
  width: 400px;
  min-height: 200px;
  transform: scale(0.5);
  transition: all 0.5s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.modalContent.active {
  transform: scale(1);
}

.modalText {
  font-size: 24px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

.btnClose {

  font-weight: 500;
  font-size: 14px;

  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 40px;
  padding: 12px 12px;

  border: solid 1px $btn_bg;
  background-color: $btn_bg;
  border-radius: 8px;

  cursor: pointer;
  text-decoration: none;
  color: $primary;

  transition-property: border-color, background-color;
  transition-duration: .4s;

  &:not(:last-child) {
    margin-right: 12px;
  }

  &.square {
    width: 40px;
    padding: 0;
  }

  &:hover {
    background-color: $btn_hover;
    border-color: $btn_hover;
  }
}