.content {
    display: flex;
    // align-items: center;


    .authBlock {
        min-width: 300px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        min-height:100%;
        justify-content: space-between;

        button {
            display: block;
            width: 100%;

            background-color: #c10032;
            border-radius: 8px;
            padding: 10px 15px;
            font-weight: 700;

            transition-property: background-color;
            transition-duration: 0.2s;
            
            &:hover {
                background-color: rgb(223, 15, 70);
            }
        }

        .settings {
            margin-top: 50%;
            
            a {
                display: block;
                color: rgba(255,255,255, .5);
                transition-property: color;
                transition-duration: 0.2s;

                &:hover {
                    color: rgba(255,255,255, 1);
                }
            }

            a:first-of-type {
                margin-bottom: 12px;
            }
        }
    }
}